@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
    background:#f9f8f6;
}
header {

}
.sp_logo h1 {
    margin-bottom: 0;

}
.sp_logo {
    text-align: center;
    margin-top:20px;
}

.sp_navi_li {
    display:flex;
    justify-content: center;
    margin: 0;
}
.sp_navi_li li{
    list-style:none;
    margin: 5px ;
    padding:0;
}
.navi_toggle {
  display: none;
  max-width: calc( 100% - 40px);
}
.menu_toggle {
position: absolute;
z-index: 2;
display:flex;
flex-direction: column;
text-align: left;
line-height: 2;
font-size: 16px;
margin: 0;
list-style: none;
background: #ff6d77;
padding: 15px;
font:hirakakuprow3;
color: white;
font-style: bold;
box-sizing: border-box;
width: 100%;
}
.menu_toggle li {
   padding: 10px 0;
   width:auto;
}
@media ( max-width : 400px ){
.menu_toggle {
      max-width: calc( 100% - 40px);
 }
}


.navi_border {
    border-top: 1px solid white;
    padding:0;
}


@media ( max-width : 550px ){
.pc_logo, .pc_navi{
      display:none;
 }
}
// sp_header

.carousel {
  height:150px;
  max-width:100%;
  background-image: url("../images/top/ca_banner.jpg");
  background-size:cover ;
  margin:0;
  margin-top:10px;
  position: relative;
    }
 .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 3px;
    margin: 0;
    margin-right: 15px;
    background: #aaaaaa;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0;
 }
 .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
 //.owl-dot.active span {
     background: #9d1a2d;
 }
  .owl-theme .owl-dots {
     margin-top: 0px;
     text-align: left;
 }
 .owl-theme .owl-nav.disabled+.owl-dots {
     margin-top: 0;
 }
 //cover
 
.new_items, .popular_items, .shopping_guide {
    width:100%;
    text-align:center;
}
.sp_new_title {
  height:14px;
  max-width: 100%;
  background: url("../images/top_sp/title_new_item.png") center center no-repeat;
  background-size: contain;
  margin :25px 0;
}
.sp_popular_title {
  height:14px;
  max-width: 100%;
  background: url("../images/top_sp/title_popular.png") center center no-repeat;
  background-size: contain;
  margin :25px 0;
}
.box{
    max-width: calc(100% / 2 - 29px);
    background:white;
    text-align:center;
    padding:13px;
    margin:0;
    margin-bottom:2px;
    flex: 0 0 43%;
}
.box div img {
  max-width: 100%;
  height: auto;
}
p.text {
    text-align:left;
    font-size:13px;
    margin: 0;
    padding: 0;
    font: hirakakuprow3;
    font-style: bold;
    line-height: 1.5;
}
h3.price{
    font-size:12px;
    font-weight:bold;
    margin-top:5px;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
}
.items,
.popular_items .container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.sp_guide_title {
  height:14px;
  max-width: 100%;
  background: url("../images/top_sp/title_guide.png") center center no-repeat;
  background-size: contain;
  margin :25px 0;
}
h3.subtitle {
    color:#887f69;
    font-size:16px;
    font-weight: bold;
    font:hirakakuprow6;
    margin-bottom:10px;
}
.delivery_contents,.payment_contents {
    width: 100%;
    background:white;
    padding: 15px;
    text-align: left;
    margin-top: 5px;
    box-sizing: border-box; /* 100% の幅の中に padding も入れ込む */
}
h4 {
    color:#887f69;
    font-size:14px;
    font-weight: bold;
    font:hirakakuprow6;
    padding:0;
    margin:0;
}
.description {
    margin:0;
    padding:0;
    line-height: 1;
}
.delivery_contents img {
    margin-bottom: 10px;
    max-width: 100%;
}
.payment_contents img {
    margin:10px 0;
    max-width: 100%;
}
.guide_contents .text {
    padding:5px;
    margin-bottom: 10px;
}

.search {
    display:block;
    padding: 15px;
    background: white;
    margin: 15px 0;
}
img.search_titile {
    display:none;
}
.search_box {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:7px;
    color:#b5b5b5;
    background:#eeeeee;
    font:hirakakuprow3;
    margin:10px 0;
}
.search_box p {
    font-size: 100%;
    font:hirakakuprow3;
    margin: 0;
}
img.glass {
    height:16px;
    width: auto;
}
.page_link {
display:flex;
justify-content:space-between;
align-items: center;
background-color:#887f69;
margin: 0;
line-height: 1;
padding:12px 15px;
}

.downicon {
  cursor: pointer;
}

.page_link img {
margin: 0;
padding: 0;
}
.categories,.about {
   display:flex;
    justify-content:space-between;
    align-items: center;
    padding:15px;
    background:#887f69;
    margin-top: 5px;
}
.categories_toggle {
    display: none;
}
.categories_toggle li {
display:flex;
justify-content:space-between;
align-items: center;
background-color: white;
padding: 15px;
line-height: 1;
font-size: 12px;
margin-bottom: 2px;

}
.about img {
    margin:0;
    padding:0;
}
.text_part {
    margin-left: 10px;
}
.description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    background: white;
    margin: 0;
    text-align: center;

}

.subnail {
   width: calc(100% / 2 - 10px);
   object-fit: contain;

}

.more {
    text-align: center;
    vertical-align: bottom;
    margin-top: 30px;
}
.articles ul {
    text-align: center;
    list-style: none;
}
.top_btn {
    text-align: center;
    border-bottom: 1px solid #887f69;
    padding-bottom: 25px;
    line-height: 1;
    }
.top_btn img {
    width: 30%;
}


    
// ----------------------------------------------index.html

.list_nav {
    padding: 14px;
    background: #e8e4da;
    border-radius: 5px;
    display: flex;
}
.list_nav img {
    object-fit: contain;
    
}
.list_nav_text {
    font: hirakakuprow3;
    font-size: 14px;
    color: #8e8570;
    margin-left: 10px;
    line-height: 1;
}
.sub_cover {
  height:100px;
  max-width:100%;
  background-image: url("../images/list/cate_image_sp.jpg");
  background-size: cover;
  margin :14px 0;
}    

.back_next {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.back_next p {
    font: AvenirNext bold;
    font-size: 20px;
    color: white;
    background: #887f69;
    padding: 7px 45px;
    margin: 20px 0;
}

.sp_recent_title {
  height:20px;
  max-width: 100%;
  background: url("../images/list/title_recent_pro.png") center center no-repeat;
  background-size: contain;
  margin :14px 0;
}


// ----------------------------------------------list.html

.product_area {
    background: white;
    padding: 10px;
    margin-top:10px;
}
.product_name {
    font: hirakakuprow6 bold;
    font-size: 20px;
}
.number {
    font: hirakakuprow3;
    font-size: 16px;
    color: #b6b6b6;
}
.product_title {
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e8cf;
    margin-bottom: 20px;
}

.slideshow_img img {
    max-width: 100%;
    height: auto;
    display: block;
}
.slideshow_img {
    margin-bottom: 10px;
}

ul.slide_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slide_img li {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;
  max-width: calc(100% / 5 - 10px);
}
.slide_img li img {
  max-width: 100%;
   margin: 0;
   padding: 0;
   cursor: pointer;
     display: block;

}
.color_logo {
    width:35%;
}
.color_size {
    border-collapse: collapse;
    border: 1px solid #e3e8cf;
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
}
.color_size td, .color_size th {
    border-collapse: collapse;
    border: 1px solid #e3e8cf;
    padding: 10px 0;
    text-align: center;
    font: hirakakuprow3;
    color: #a49d8c;
    font-size: 12px;
    background: #f9f9f5;
    vertical-align: middle;
}
.color_size td {
    background: white;
    font-size: 30px;
    padding: 0;
    vertical-align: middle;
    
}


.price_a {
    display: flex;
    justify-content: space-between;
    align-items: center;
   border-top: 1px solid #e3e8cf;
    margin-top: 20px;
    padding: 20px 0;
    margin: 0;
}
.price_a img {
    height: 100%;
    width: 15%;
}
.quantity_a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e3e8cf;
    padding: 20px 0;
    margin: 0;
}
.quantity_logo {
    width: 25%;
    height:100%;
}
.square {
    width: 30%;
    height: 100%;
    padding-right: 40px;
}

.cart {
     text-align: center;
     border-top: 1px solid #e3e8cf;
    padding: 20px 0;
}
.cart img {
    width: 70%;
    height: 100%;
}

img.tax_in {
    padding-right: 40px;
    height: 100%;
    width: 40%;
    
}


.color_size_b {
    border-collapse: collapse;
    border: 1px solid #e3e8cf;
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
}
.color_size_b td, .color_size_b th {
    border-collapse: collapse;
    border: 1px solid #e3e8cf;
    padding: 10px 0;
    text-align: center;
    font: hirakakuprow3;
    color: #a49d8c;
    font-size: 12px;
    background: #f9f9f5;
    vertical-align: middle;
}
.color_size_b td {
    background: white;
    font-size: 10px;
    padding-left: 10px;
    vertical-align: middle;
    text-align: left;
}
.product_description {
     color:#887f69;
    font-size:15px;
    font-weight: bold;
    font:hirakakuprow6;
    margin-bottom:25px;
    border-bottom: 1px solid #887f69;
    padding-bottom: 10px;
}
.product_head {
    color:#887f69;
    font-size:15px;
    font-weight: bold;
    font:hirakakuprow6;
    margin-bottom:20px;
    line-height: 1;
}
.product_text {
    color: black;
    font-size:13px;
}
.cell {
    padding-left: 10px;
    text-align: left;
    font: hirakakuprow3;
    color: #a49d8c;
    font-size: 12px;
    background: white;
    vertical-align: middle;
}    
    
// ----------------------------------------------products.html

// ---------------------------------------------------sp_version--------------------------


@media (min-width: 551px){
    
 header .row {
    height: 100px;
}
 .sp_logo {
     display:none;
 }
 .pc_logo {
    text-align:left;
    text-align:bottom;
    margin-top: 20px;
 }
 .pc_navi_li {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 50px;
 }
.pc_navi_li li{
    list-style:none;
    padding-left:15px;
}
    
.sp_navi{
      display:none;
    }
.carousel{
  height:280px;
  max-width:100%;
  background-image: url("../images/top/ca_banner.jpg");
  background-size: cover;
  margin :0;

    }

.sp_new_title {
  display: none;
}
.pc_new_title {
  height:17px;
  background: url("../images/top/title_newitems.png") center center no-repeat;
  background-size: cantain;
  margin :14px 0;
}
.sp_popular_title {
  display: none;
}
.pc_popular_title {
  height:17px;
  background: url("../images/top/title_popular.png") center center no-repeat;
  background-size: cantain;
  margin :14px 0;
}
.box {
    //max-width: 29%;
    max-width: calc(100% / 3 - 29px);
    height:auto ;
    background:white;
    text-align:center;
    margin:0;
    padding:13px;
    margin-bottom:4px;
}
.box div img {
  max-width: 100%;
  height: auto;
  margin:0;
}
p.text {
    text-align:left;
    font-size:14px;
}
h3.price{
    font-size:12px;
    font-weight:bold;
    text-align: left;
    margin-top: 5px;
}


//new_items, popular_items

.sp_guide_title {
  display: none;
}
.pc_guide_title {
  height:17px;
  background: url("../images/top/title_guide.png") center center no-repeat;
  background-size: cantain;
  margin :14px 0;
}

.guide_contents {
    display: flex;
    justify-content: space-between;
    padding:0;
}

h3.subtitle {
    color:#887f69;
    font-size:16px;
    font-weight: bold;
    font:hirakakuprow6;
    margin-bottom:15px;
}

.delivery_contents,.payment_contents {
    background:white;
    padding: 15px;
    text-align: left;
    margin: 0;
    max-width: calc(100% / 2 - 10px);
}
h4 {
    color:#887f69;
    font-size:14px;
    font-weight: bold;
    font:hirakakuprow6;
    padding:0;
    margin:0;
}
.description {
    margin:0;
    padding:0;
    line-height: 1;
}


//shopping_guide



.search {
    // width:100%;
    padding: 15px;
    background: white;
    margin-top: 0;
    margin-bottom: 5px;
}
img.search_titile {
    display:block;
    margin:0;
    padding:0;
    max-width: 100%;
}
.search_box {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:7px;
    color:#b5b5b5;
    background:#eeeeee;
    max-width: 100%;
    margin: 10px 0 0 0;

}
.search_box p {
    font-size: 100%;
    font:hirakakuprow3;
    margin: 0;
    max-width: calc(100% - 50px);
}
img.glass {
    height:auto;
    max-width: calc(100% - 50px);
}
.page_link {
display:flex;
justify-content:space-between;
align-items: center;
background-color:#887f69;
margin: 0;
line-height: 1;
padding:12px 15px;
}

.downicon {
  cursor: pointer;
}

.page_link img {
margin: 0;
padding: 0;
max-width: calc(100% - 10px); 

}
.categories img {
    max-width: calc(100% - 10px);
}
.categories,.about {
   display:flex;
    justify-content:space-between;
    padding:15px;
    background:#887f69;
    margin-top: 5px;
}
.categories_toggle {
    display: none;
}
.categories_toggle li {
display:flex;
justify-content:space-between;
align-items: center;
background-color: white;
padding: 15px;
line-height: 1;
font-size: 12px;
margin-bottom: 2px;

}

.about img {
    margin:0;
    padding:0;
    max-width: 100%;
}

.description {
    flex-direction: column;
    padding: 10px;
    background: white;
    margin: 0;
    text-align: center;
}
.subnail {
   width: 100%;
   margin-bottom:10px;
}

.more {
    text-align: center;
    vertical-align: bottom;
    margin: 20px 0 10px 0;
}
.more img {
    max-width: calc(100% - 20px);
}
.articles ul {
    text-align: center;
    list-style: none;
}
.top_btn {
    text-align: right;
    border-bottom: 1px solid #887f69;
    padding: 10px;
    }
    
    
    
//----------------------------------------------------index.html 

.list_nav {
    padding: 14px;
    background: #e8e4da;
    display: flex;
}
.list_nav img {
    object-fit: contain;
    
}
.list_nav_text {
    font: hirakakuprow3;
    font-size: 14px;
    color: #8e8570;
    margin-left: 10px;
    line-height: 1;
}
.sub_cover {
  height:150px;
  max-width:100%;
  background-image: url("../images/list/cate_image.jpg");
  background-size: cover;
  margin-bottom :14px;
}    
    
.back_next p {
    font: AvenirNext bold;
    font-size: 10px;
    color: white;
    background: #887f69;
    padding: 5px 20px;
    margin: 0;
}    

.sp_recent_title {
  display: none;
}

.pc_recent_title {
  height:17px;
  background: url("../images/list/recent_pro_pc.png") center center no-repeat;
  background-size: cantain;
  margin :14px 0;
}
//----------------------------------------------------list.html    
.product_area {
    background: white;
    padding: 30px;
    margin-top:10px;
}
.product_name {
    font: hirakakuprow6 bold;
    font-size: 12px;
}
.number {
    font: hirakakuprow3;
    font-size: 8px;
    color: #b6b6b6;
}
.product_title {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e3e8cf;
    margin-bottom: 20px;
}
.product_image {
    display: flex;
    justify-content: space-between;
}
.slideshow_img img {
    max-width: 100%;
    height: auto;
    display: block;
}
.slideshow_img {
    height: 100%;
    vertical-align: top;
}
ul.slide_img {
    display: flex;
    flex-wrap: wrap;
    max-width: 30%;
    margin: 0;
    height: 100%;
}

.slide_img li {
  list-style: none;
  margin: 0 0 7px 7px;
  padding: 0;
  max-width: calc(100% / 2 - 8px);
}
.slide_img li img {
  max-width: 100%;
   margin: 0;
   padding: 0;
   cursor: pointer;
     display: block;

}
.color_logo {
    width:25%;
}
.color_size {
    border-collapse: collapse;
    border: 1px solid #e3e8cf;
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
}
.color_size td, .color_size th {
    border-collapse: collapse;
    border: 1px solid #e3e8cf;
    padding: 10px 0;
    text-align: center;
    font: hirakakuprow3;
    color: #a49d8c;
    font-size: 12px;
    background: #f9f9f5;
    vertical-align: middle;
}
.color_size td {
    display: table-cell;
    background: white;
    font-size: 30px;
    padding: 0;
    vertical-align: middle;
    height: 100%;
}


.price_quantity_box {
    display: flex;
    justify-content: space-between;
       border-top: 1px solid #e3e8cf;
}
.price_a {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 0;
    margin: 0;
    border-top:none;
}
.price_a img {
    height: 100%;
    width: 30%;
}
.quantity_a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e3e8cf;
    padding: 10px 0;
    margin: 0;
}
.quantity_logo {
    width: 40%;
    height:100%;
}
.square {
    width: 45%;
    height: 100%;
padding-right: 0;

}

.cart {
     text-align: right;
     border-top: none;
    padding: 0;
}
.cart img {
    width: 70%;
    height: auto;
}




img.tax_in {
    vertical-align: middle;
    padding-left: 40px;
    padding-right: 0;
    width: 50%;
}



.product_description {
     color:#887f69;
    font-size:15px;
    font-weight: bold;
    font:hirakakuprow6;
    margin-bottom:25px;
    border-bottom: 1px solid #887f69;
    padding: 10px;
    border-top: 1px solid #e3e8cf;
}
.product_head {
    color:#887f69;
    font-size:15px;
    font-weight: bold;
    font:hirakakuprow6;
    margin-bottom:20px;
    line-height: 1;
}
.product_text {
    color: black;
    font-size:13px;
}
.cell {
    padding-left: 10px;
    text-align: left;
    font: hirakakuprow3;
    color: #a49d8c;
    font-size: 12px;
    background: white;
    vertical-align: middle;
}

.color_size_b {
    border-collapse: collapse;
    border: 1px solid #e3e8cf;
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
}
.color_size_b td, .color_size_b th {
    border-collapse: collapse;
    border: 1px solid #e3e8cf;
    padding: 10px 0;
    text-align: center;
    font: hirakakuprow3;
    color: #a49d8c;
    font-size: 12px;
    background: #f9f9f5;
    vertical-align: middle;
}
.color_size_b td {
    background: white;
    font-size: 10px;
    padding-left: 10px;
    vertical-align: middle;
    text-align: left;
}

//----------------------------------------------------products.html    

    
}
//-----------------------------------------------pc_version--------------------------------------


.footer_text {
  font:hirakakuprow3;
  font-size: 13px;
  text-align: center;
  margin:0;
  padding: 20px;
}
.copyright {
    color: #c8c5be;
    text-align: center;
    line-height: 1;
    font-size: 12px;
    margin-bottom: 50px;
    padding:0;
}

